<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
	<!-- <a href="{{ url }}">{{ url_linktext }}</a> -->
	
	<div id="answer">
		{% if value: %}
		{{ value }} {{toLongName}}
		<br>
		-->
		<br>
		{% endif %}
	</div>
	
	
	<form action="/convert" method="post">
		<input type="text" name="number" id="input" value="{{ number }}"> seconds<br>
		<input type="submit" value="Convert it dude" id="button">
	</form>
	
	<!--<div id="recentConversions">
	Recent conversions:<br>
	
	{% for pastConversion in pastConversions %}
	  {{ pastConversion.value }} {{pastConversion.fromUnit }} to {{pastConversion.toUnit}}
	  <br>
    {% endfor %}
	</div>-->

    

  </body>
</html>